<br />
<form id="form-send-files" method="post">
  <input type="file" multiple="true" id="actual-btn" hidden />
  <label for="actual-btn">Choose File</label>
  <span id="file-chosen">No file chosen</span>
  <button type="submit">отправить</button>
</form>